*{
	background-color: #b7b1d2;
	color: #000000	;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	overflow-x: hidden;
}



#logo{
	background-color: transparent;
	color: #b7b1d2;
	font-family: 'Euphoria Script', cursive;
	font-family: 'Pacifico', cursive;
}


h1,h3{
	text-align: center;
	padding: 5px;
	color: #161422;
	font-family: 'Montserrat', sans-serif;
}

.nav-item,.nav-link{
	color: #161422	;
}

.nav-link:hover{
	background-color: #4b3d8f;
	border-radius: 5px;
	color: #b7b1d2;
}
.image{
  height: 700px;
  object-fit: cover;
  display: block;
  float: left;
}


.carousel-item{
	float: none;
	max-height: 335px;
	overflow-x:hidden;
	overflow-y: hidden;
}


h2{
	text-align: center;
	color: #161422;
	font-family: 'Montserrat', sans-serif;
}
